<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.getId()})}" th:object="${user}">
  <div class="table table-dark" >
    <div class="col">
      <label for="name">Имя</label>
      <input type="text" th:field="*{name}" id="name" placeholder="Name">

      <label for="lastName">Фамилия</label>
      <input type="text" th:field="*{lastname}" id="lastName" placeholder="Last Name">
      <label for="Age">Город</label>
      <input type="text" th:field="*{age}" id="Age" placeholder="Age">
      <label for="Email">Возраст</label>
      <input type="text" th:field="*{email}" id="Email" placeholder="Email">
      <label for="Password">Пароль</label>
      <input type="text" th:field="*{password}" id="password" placeholder="Password">
      <br>
      <tr>
        <td>
          <label>Roles:
            <select  size="2" multiple name="listRoles" required="required">
              <option selected="selected" th:value="2">ROLE_USER</option>
              <option th:value="1">ROLE_ADMIN</option>
            </select>
          </label>
        </td>
      </tr>
      <br>
      <input class="btn btn-primary" type="submit" value="Обновить данные">
    </div>
  </div>
</form>
<p><a class="btn btn-primary" href="/logout">Выйти из системы</a></p>
</body>
</html>